body {
    /* background-color: #002244; */
    background-color: #fff;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  gap: 2%;
}

.square {
  aspect-ratio: 1/ 1;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  border-width: 5px;
  border: 8px;
  border-style: solid;
  padding: 5%;
  transition: 0.3s;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.inactive {
  /* background-color: #eee; */
  background-color: #B0B7BC;
  color: #002244;
  border-color: #C60C30;
  /* border-color: #002244; */
}

.active {
  /* background-color: #002244; */
  background-color: #C60C30;
  color: #fff;
  border-color: #B0B7BC;
}


#introPopUp {
    display: none;
}