body {
    /* background-color: #002244; */
    background-color: #A5acaf;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  gap: 2%;
}

.square {
  aspect-ratio: 1/ 1;
  display: flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  padding: 5%;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif
}

.inactive {
  background-color: #002244;
  /* background-color: #A5acaf; */
  color: #fff;
}

.inactive:hover {
    background-color: #b6bbbd;
}

.active {
  background-color: #69BE28;
  color: #fff;
}

.active:hover {
    background-color: #7ace39
}

#introPopUp {
    display: none;
}