body {
    background-color: #002244;
    /* background-color: #A5acaf; */
}

.board {
  /* margin: 1%;
  padding: 1%; */
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  gap: 2%;
}

.square {
  aspect-ratio: 1/ 1;
  display: flex;
  text-align: center;
  font-weight: 700;
  /* font-size: x-large; */
  justify-content: center;
  align-items: center;
  padding: 5%;
  transition: 0.3s;
  border-radius: 50px;
  border-width: 5px;
  border: 8px;
  border-style: solid;
  font-family: Arial, Helvetica, sans-serif
}

.inactive {
  background-color: #BCC5C9;
  color: #002244;
  border-color: #57AA18;
  
}

.active {

  border-color: #BCC5C9;
  color: #000;
  background-color: #57AA18;
    /* background-color: #002244;
    background-color: #A5acaf; 
    border-color: #A5acaf;
    border-color: #69BE28; 
    border-color: #002244;
    color: #fff; */
}

#introPopUp {
    display: none;
}