body {
    background-color: #2b2d2e;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  gap: 2%;
}

.square {
  aspect-ratio: 1/ 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif
}

.inactive {
  background-color: #1E1E1E;
  color: #fff;
}

.inactive:hover {
    background-color: #413a3a
}

.active {
  background-color: #29325e;
  color: #fff;
}

.active:hover {
    background-color: #404b7f
}


#introPopUp {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 60px;
    color: #cccccc;
    background: #2c2b31;
    box-shadow: 0px 0px 100px 0px black;
    position: fixed;
    left: 0;
    right: 0;
    margin-inline: auto; 
    width: fit-content;
    padding: 50px;
    text-align: center;
    width: 80%;
    z-index: 10;
    transition: 0.5s;
    top: 5%;
}

#sea_button {
    display: inline-block;
    border-radius: 10px;
    height: 50px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background: #69BE28;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: hidden; */
  }
  
  #pats_button {
    display: inline-block;
    border-radius: 10px;
    height: 50px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background: #002244;
    justify-content: center;
    align-items: center;
    display: flex;
    /* border: hidden; */
}
